@import "vars";

.banner {
  &__slidebar {
    position: absolute;
    padding: 0;
    display: flex;
    gap: 20px;
    width: 220px;
    height: 20px;
    top: 744px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__slidebar-circle {
    width: 20px;
    height: 20px;
    border: 1px solid $white;
    border-radius: 50%;
  }

  .active {
    background-color: $white;
  }
}
